$icon-font-path: 'fonts' !default;

@font-face {
  font-family: 'videojs-pipButton';
  src:url('#{$icon-font-path}/pipButton.eot');
  src:url('#{$icon-font-path}/pipButton.eot?#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}/pipButton.ttf') format('truetype'),
    url('#{$icon-font-path}/pipButton.woff') format('woff'),
    url('#{$icon-font-path}/pipButton.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.vjs-pip-control {
  font-family: 'videojs-pipButton';
  float: right;
  cursor: pointer;

  &.active {
    color: #66a8cc;
  }
}

.vjs-pip-control:before {
  content: "\e911";
}
